body {
  background-image: url(../Img/fondo.jpg);
  font-family: Arial, Helvetica, sans-serif; }

#grilla {
  display: grid;
  grid-template-areas: "header header header" "categorias tendencias tendencias" "categorias parati parati" "footer footer footer";
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr 2fr; }

#nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: black; }

.ten {
  grid-area: tendencias;
  width: 100%;
  background-color: grey;
  display: flex;
  flex-flow: column; }

.ti {
  grid-area: parati;
  width: 100%;
  background-color: grey;
  display: flex;
  flex-flow: column; }

footer {
  grid-area: footer; }

.categorias {
  display: flex;
  flex-flow: column;
  background-image: linear-gradient(gray, black);
  justify-content: center;
  grid-area: categorias; }
  .categorias .Cat {
    display: flex;
    flex-flow: column; }
    .categorias .Cat li {
      color: white;
      list-style: none;
      text-decoration: none;
      font-size: x-large; }
      .categorias .Cat li a {
        color: white;
        list-style: none;
        text-decoration: none; }

.logo {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; }
  .logo img {
    width: 100px;
    height: auto; }
  .logo a {
    text-decoration: none;
    color: white; }

.estrella {
  transition: 50s; }

.estrella:hover {
  transform: rotate(10000deg); }

header {
  grid-area: header; }

.enlaces ul li a:after {
  content: "";
  position: absolute;
  background-color: gray;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s; }

.enlaces ul li a:hover:after {
  width: 100%; }

.enlaces ul {
  list-style: none;
  float: right; }
  .enlaces ul li {
    display: inline-block; }
    .enlaces ul li a {
      color: white;
      text-decoration: none;
      padding: 10px;
      position: relative;
      text-decoration: none;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 18px;
      letter-spacing: 0.5px;
      padding: 5px; }

.titulos {
  display: flex;
  justify-content: flex-start;
  padding-left: 40px; }

.imgMenu {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 60%;
  margin: 30px; }

.usu {
  width: 200px; }

#Perfil {
  padding: 50px; }
