@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
* {
  font-family: 'Comfortaa'; }

body {
  background-image: url(../Img/fondo.jpg); }

#nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  position: fixed;
  z-index: 1; }

.ten {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  flex-flow: column;
  border-radius: 20px;
  padding-top: 20px; }

.ti {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  flex-flow: column;
  border-radius: 20px;
  padding-top: 20px;
  margin-top: 20px; }

.categorias {
  display: flex;
  flex-flow: column;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  width: 400px;
  height: 370px;
  margin-left: 20px;
  margin-top: 200px;
  position: -webkit-sticky;
  position: sticky;
  top: 200px; }

.categorias .Cat {
  display: flex;
  flex-flow: column; }

.categorias .Cat li {
  color: white;
  list-style: none;
  text-decoration: none;
  font-size: x-large; }

.categorias .Cat li a {
  color: white;
  list-style: none;
  text-decoration: none; }

.logo {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; }

.logo img {
  width: 100px;
  height: auto; }

.logo a {
  text-decoration: none;
  color: white; }

.estrella {
  transition: 50s; }

.estrella:hover {
  transform: rotate(10000deg); }

.enlaces ul li a:after {
  content: "";
  position: absolute;
  background-color: gray;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s; }

.enlaces ul li a:hover:after {
  width: 100%; }

.enlaces ul {
  list-style: none;
  float: right; }

.enlaces ul li {
  display: inline-block; }

.enlaces ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  position: relative;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 5px; }

.titulos {
  display: flex;
  justify-content: flex-start;
  padding-left: 40px; }

.imgMenu {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 60%;
  margin: 30px; }

.usu {
  width: 200px; }

#Perfil {
  padding: 50px; }

.rese単as {
  height: 70px;
  width: 800px;
  border: solid 2px;
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
  background-color: white; }

.rese単as ul {
  display: flex;
  list-style: none;
  margin: auto;
  padding: auto; }

.rese単as ul li {
  margin: 20px; }

.footer {
  display: flex;
  flex-flow: row; }

.footer li {
  display: flex;
  flex-flow: column; }

.ftr {
  display: flex;
  flex-flow: column;
  margin: 20px;
  font-size: large;
  width: 500px; }

.cr {
  display: flex;
  margin: 20px;
  padding-top: 100px;
  font-size: large;
  padding-left: 200px; }

.Redes {
  display: flex;
  flex-flow: column;
  margin: 20px;
  padding-left: 600px; }

.buscador input {
  border-radius: 10px;
  width: 500px;
  height: 40px;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit; }

.buscador button {
  height: 40px;
  width: 40px;
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit; }

.footer {
  padding-top: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px); }

#cajaForm {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer; }

.formulariodos {
  width: 400px;
  height: 650px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  margin: 20px; }

.formu {
  padding: 20px;
  margin: 20px; }

label {
  color: white; }

.reg {
  padding-top: 10px; }

.fpssw {
  padding-top: 5px; }

.register {
  margin-top: 10px; }

.mb-3 {
  padding-top: 10px; }

.textoCuenta {
  color: white;
  margin-right: 15px; }

#emailHelp {
  display: flex;
  flex-flow: row; }

.catTitulo {
  padding-top: 200px;
  padding-left: 50px; }

.container {
  width: 100%;
  height: 430px;
  display: flex;
  margin: 50px; }

.container .card {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  margin: 10px;
  text-align: center;
  transition: all 0.25s;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px); }

.container .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.5); }

.container .card img {
  width: 330px;
  height: 220px;
  object-fit: cover; }

.container .card h4 {
  font-weight: 600; }

.container .card p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300; }

.container .card a {
  font-weight: 500;
  text-decoration: none;
  color: #3498db; }

.menu {
  display: flex; }

.rese単asIndex {
  display: flex;
  flex-flow: column;
  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: 80px;
  margin-top: 180px; }

.formulario {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  width: 400px;
  padding: 20px;
  margin: 30px; }
